#input_text{
    margin-left:0px; 
    font-family: Candara; font-size: 23px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900; 
    line-height: 13px;
    background-color: rgb(47, 171, 243);
}

      

    
    #addClient{
      color:white; 
      background-color: rgb(11, 192, 57);
      font-size: 22px
    }
    
    .btn:link,
    .btn:visited{
      color: white;
      height: 3em;
      position:relative;
      top:0;
      left:0;
      padding:10px 20px;
      border-radius:100px;
      display:inline-block;
      transition: all .5s;
    
    }
    
    .btn-white{
      background:#fff;
      color:#000;
    }
    
    .btn:hover{
       box-shadow:0px 10px 10px rgba(0,0,0,0.2);
       transform : translateY(-3px);
    }
    
    .btn:active{
      box-shadow:0px 5px 10px rgba(0,0,0,0.2);
      transform: translateY(-1px);
    }
    
    .btn-bottom-animation-1{
      animation:comeFromBottom 1s ease-out .8s;
    }
    
    .btn::after{
      content:"";
      text-decoration: none;
      text-transform:uppercase;
      width:100%;
      height:100%;
      top:0;
      left:0;
      border-radius:100px;
      display:inline-block;
      z-index:-1;
      transition: all .5s;
    }
    
    .btn-white::after {
        background: #fff;
    }
    
    .btn-animation-1:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    @keyframes comeFromBottom{
      0%{
        opacity:0;
        transform:translateY(40px);
      } 
      100%{
        opacity:1;
        transform:translateY(0);
      }
    }
          *,
        *:before,
        *:after {
          box-sizing: border-box;
        }
    
        body {
          padding: 1em;
          font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 15px;
          color: #ffffff;
          background-color: #ffffff;
        }
        h4 {
          color: #7ed321;
        }
        input,
        input[type="radio"] + label,
        input[type="checkbox"] + label:before,
        select option,
        select {
          width: 100%;
          padding: 1em;
          line-height: 1.4;
          background-color: #f9f9f9;
          border: 1px solid #e5e5e5;
          border-radius: 3px;
          -webkit-transition: 0.35s ease-in-out;
          -moz-transition: 0.35s ease-in-out;
          -o-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
        }
        input:focus {
          outline: 0;
          border-color: #64ac15;
        }
        input:focus + .input-icon i {
          color: #7ed321;
        }
        input:focus + .input-icon:after {
          border-right-color: #7ed321;
        }
        input[type="radio"] {
          display: none;
        }
        input[type="radio"] + label,
        select {
          
          width: 50%;
          text-align: center;
          float: left;
          border-radius: 0;
        }
        input[type="radio"] + label:first-of-type {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        input[type="radio"] + label:last-of-type {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        input[type="radio"] + label i {
          padding-right: 0.4em;
        }
        input[type="radio"]:checked + label,
        input:checked + label:before,
        select:focus,
        select:active {
          background-color: #7ed321;
          color: #fff;
          border-color: #64ac15;
        }
        input[type="checkbox"] {
          display: none;
        }
        input[type="checkbox"] + label {
          position: relative;
          display: block;
          padding-left: 1.6em;
        }
        input[type="checkbox"] + label:before {
          position: absolute;
          top: 0.2em;
          left: 0;
          display: block;
          width: 1em;
          height: 1em;
          padding: 0;
          content: "";
        }
        input[type="checkbox"] + label:after {
          position: absolute;
          top: 0.45em;
          left: 0.2em;
          font-size: 0.8em;
          color: #fff;
          opacity: 0;
          font-family: FontAwesome;
          content: "\f00c";
        }
        input:checked + label:after {
          opacity: 1;
        }
        select {
          height: 3.4em;
          line-height: 2;
        }
        select:first-of-type {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        select:last-of-type {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        select:focus,
        select:active {
          outline: 0;
        }
        select option {
          background-color: #7ed321;
          color: #fff;
        }
        .input-group {
          margin-bottom: 1em;
          zoom: 1;
        }
        .input-group:before,
        .input-group:after {
          content: "";
          display: table;
        }
        .input-group:after {
          clear: both;
        }
        .input-group-icon {
          position: relative;
        }
        .input-group-icon input {
          padding-left: 4.4em;
        }
        .input-group-icon .input-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 3.4em;
          height: 3.4em;
          line-height: 3.4em;
          text-align: center;
          pointer-events: none;
        }
        .input-group-icon .input-icon:after {
          position: absolute;
          top: 0.6em;
          bottom: 0.6em;
          left: 3.4em;
          display: block;
          border-right: 1px solid #e5e5e5;
          content: "";
          -webkit-transition: 0.35s ease-in-out;
          -moz-transition: 0.35s ease-in-out;
          -o-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
        }
        .input-group-icon .input-icon i {
          -webkit-transition: 0.35s ease-in-out;
          -moz-transition: 0.35s ease-in-out;
          -o-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
        }
        .container {
          max-width: 38em;
          padding: 1em 3em 2em 3em;
          margin: 0em auto;
          background-color: #fff;
          border-radius: 4.2px;
          box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
        }
        .row {
          zoom: 1;
        }
        .row:before,
        .row:after {
          content: "";
          display: table;
        }
        .row:after {
          clear: both;
        }
        .col-half {
          padding-right: 10px;
          float: left;
          width: 50%;
        }
        .col-half:last-of-type {
          padding-right: 0;
        }
        .col-third {
          padding-right: 10px;
          float: left;
          width: 33.33333333%;
        }
        .col-third:last-of-type {
          padding-right: 0;
        }
        @media only screen and (max-width: 540px) {
          .col-half {
            width: 100%;
            padding-right: 0;
          }
        }
    
          #input_text{
              margin-left:0px; 
              font-family: Candara; font-size: 18px; 
              font-style: normal; 
              font-variant: normal; 
              font-weight: 900; 
              line-height: 13px;
              background-color: rgb(26, 187, 236);
          }
    
          #input_text2{
              margin-left:0px; 
              font-family: Candara; font-size: 18px; 
              font-style: normal; 
              font-variant: normal; 
              font-weight: 900; 
              line-height: 13px;
              background-color: rgb(218, 240, 23);
          }
    
          #input_button{
              padding: 14px;
              font-family: Candara; font-size: 22px; 
              font-style: normal; 
              font-variant: normal; 
              font-weight: 900; 
              line-height: 13px;
              
              border-color: rgb(25, 165, 207);
              border-width: 0.07em;
          }
    
          #input_button:hover{
              
              background-color: rgb(25, 165, 207);
          }
    
          .bt {
        width: 100px;
        cursor: pointer;
        position: relative;
        font-family: "Roboto";
        text-transform: uppercase;
        color: #1aa00e;
        letter-spacing: 0.5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        text-decoration: none;
        text-align: center;
      
    }
    
    .more-bt {
        border-right: 2px solid #1aa00e;
        border-bottom: 2px solid #1aa00e;
        padding: 17px 29px 15px 31px;
        border-color: #1aa00e;
    }
    
    .more-bt p {
      font-size: 14px;
    }
    
    #wrapper.smooth section.smoothy.show {
        visibility: visible;
    }
    
    .more-bt:before {
        left: 0;
        bottom: 0;
        height: -webkit-calc(100% - 17px);
        height: calc(100% - 17px);
        width: 2px;
    }
    
    .more-bt:after, .more-bt:before {
        content: " ";
        display: block;
        background: #1aa00e;
        position: absolute;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 10;
    }
    
    .more-bt:after {
        top: 0;
        right: 0;
        width: -webkit-calc(100% - 17px);
        width: calc(100% - 17px);
        height: 2px;
    }
    
    .more-bt:after, .more-bt:before {
        content: " ";
        display: block;
        background: #1aa00e;
        position: absolute;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 10;
    }
    
    ::selection {
        background: #1aa00e;
        color: #FFFFFF;
        text-shadow: none;
    }
    
    .more-bt:before {
        left: 0;
        bottom: 0;
        height: -webkit-calc(100% - 17px);
        height: calc(100% - 17px);
        width: 2px;
    }
    
    .more-bt:after, .more-bt:before {
        content: " ";
        display: block;
        background: #1aa00e;
        position: absolute;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 10;
    }
    
    .more-bt .fl, .more-bt .sfl {
        position: absolute;
        right: 0;
        height: 100%;
        width: 0;
        z-index: 2;
        background: #1aa00e;
        top: 0;
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }
    
    .more-bt .fl, .more-bt .sfl {
        position: absolute;
        right: 0;
        height: 100%;
        width: 0;
        z-index: 2;
        background: #1aa00e;
        top: 0;
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }
    
    .more-bt .sfl {
        z-index: 1;
        background: #1aa00e;
        -webkit-transition: .7s;
        transition: .7s;
    }
    
    .more-bt .cross {
        position: absolute;
        z-index: 15;
        width: 18px;
        height: 18px;
        top: -webkit-calc(50% - 8px);
        top: calc(50% - 8px);
        left: -webkit-calc(50% - 8px);
        left: calc(50% - 8px);
    }
    
    #wrapper.smooth section.smoothy {
        visibility: hidden;
    }
    
    .more-bt .cross:before {
        width: 100%;
        height: 2px;
        top: 8px;
        left: 0px;
        -webkit-transform: translateX(50px) scaleX(0);
        -ms-transform: translateX(50px) scaleX(0);
        transform: translateX(50px) scaleX(0);
    }
    
    .more-bt .cross:before, .more-bt .cross:after {
        content: " ";
        background: #fff;
        display: block;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    .more-bt .cross:after {
        width: 2px;
        height: 100%;
        left: 8px;
        top: 0;
        -webkit-transform: translateY(20px) scaleY(0);
        -ms-transform: translateY(20px) scaleY(0);
        transform: translateY(20px) scaleY(0);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
    
    .more-bt .cross:before, .more-bt .cross:after {
        content: " ";
        background: #fff;
        display: block;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    .more-bt i {
        position: absolute;
        display: block;
        top: 1px;
        left: 1px;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 10;
    }
    
    .more-bt i:before {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    .more-bt i:after, .more-bt i:before {
        content: " ";
        display: block;
        width: 2px;
        height: 20px;
        background: #1aa00e;
        position: absolute;
        margin: -10px -1px;
        left: 50%;
        top: 50%;
        transition: 0.3s;
    }
    
    .more-bt:hover i:after {
        content: " ";
        display: block;
        width: 2px;
        height: 20px;
        background: #1aa00e;
        position: absolute;
        margin: 0px -1px;
        left: 50%;
        top: 50%;
    }
    
    .more-bt:hover i:before {
        content: " ";
        display: block;
        width: 2px;
        height: 20px;
        background: #1aa00e;
        position: absolute;
        margin: -10px 0px -10px 8px;
        left: 50%;
        top: 50%;
    }
    
    .more-bt p {
        -webkit-transition: .5s;
        transition: .5s;
        position: relative;
        z-index: 1;
    }
    
    .more-bt:hover:before, .more-bt:before {
        height: 100%;
    }
    
    .more-bt:before {
        left: 0;
        bottom: 0;
        height: -webkit-calc(100% - 17px);
        height: calc(100% - 17px);
        width: 2px;
    }
    
    .more-bt:hover .fl, .more-bt .fl {
        -webkit-transition: .7s;
        transition: .7s;
    }
    
    .more-bt:hover .fl, .more-bt:hover .sfl, .more-bt .fl, .more-bt .sfl {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        width: 100%;
    }
    
    .more-bt .fl, .more-bt .sfl {
        position: absolute;
        right: 0;
        height: 100%;
        width: 0;
        z-index: 2;
        background: #1aa00e;
        top: 0;
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }
    
    .more-bt:hover .sfl, .more-bt .sfl {
        -webkit-transition: .5s;
        transition: .5s;
    }
    
    .more-bt:hover .fl, .more-bt:hover .sfl, .more-bt.hvd .fl, .more-bt.hvd .sfl {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        width: 100%;
    }
    
    .more-bt .sfl {
        z-index: 1;
        background: #1aa00e;
        -webkit-transition: .7s;
        transition: .7s;
    }
    
    .more-bt .cross {
        position: absolute;
        z-index: 15;
        width: 18px;
        height: 18px;
        top: -webkit-calc(50% - 8px);
        top: calc(50% - 8px);
        left: -webkit-calc(50% - 8px);
        left: calc(50% - 8px);
    }
    
    .more-bt:hover .cross:before, .more-bt .cross:before {
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
    }
    
    .more-bt:hover .cross:after, .more-bt:hover .cross:before, .more-bt .cross:after, .more-bt .cross:before {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    
    .more-bt .cross:after {
        width: 2px;
        height: 100%;
        left: 8px;
        top: 0;
        -webkit-transform: translateY(20px) scaleY(0);
        -ms-transform: translateY(20px) scaleY(0);
        transform: translateY(20px) scaleY(0);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
    
    .more-bt .cross:before, .more-bt .cross:after {
        content: " ";
        background: #fff;
        display: block;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    .more-bt:hover .cross:after, .more-bt:hover .cross:before, .more-bt.hvd .cross:after, .more-bt.hvd .cross:before {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    
    .more-bt:hover .cross:after, .more-bt.hvd .cross:after {
        -webkit-transition-duration: .6s;
        transition-duration: .6s;
    }
    
    #client-card{
      color: black;
    }
    
    #client-card .card-title{
      color: rgb(255, 255, 255)
    }
    
    #boat-card{
      color: black;
      margin-left: 15px !important;
    }
    
    #boat-card .card-title{
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
    
    
    .list-group-item{
      min-height: 50px;
    }
          
    .btn-2{
      border-radius:5px !important;
    }
    
    .more-btn:hover{
        text-decoration: none;
    }
    .nav-link{
      font-size:1.6em !important;
      color: white !important;
      margin-right: 12px !important;
      transition-duration: 0.35s;
    }
    .nav-link:hover{
      
      color: rgb(192, 192, 192) !important;
      text-shadow: 1px 1px #0000008a;
      
    }
    
    a{
      color: white !important;
      letter-spacing: 0.5px ;
    }
    
    .list-group-item{
      font-size : 17px;
      letter-spacing: 0.5px;
    }
    
    input{
      border: 1px solid grey
    }
    
    .input-group-text{
      color:black;
      font-size: 17px
    }
    
    .clientsBtn{
      background-image: linear-gradient(to right,#104391, #5389db) ;
      padding-top: auto !important;
      padding-bottom: auto !important;
      
    }
    
    .logoutBtn{
      
      padding-top: auto !important;
      padding-bottom: auto !important;
      
    }
    
    
    
    input{
      box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); 
      border-radius: 12px;
    }
    
    
    
    
    @media (max-width: 992px) {
      
      #clientsDiv{
        border: 0px solid white !important;
        margin-left: 0px;
        padding: 0px;
        box-shadow: 0px 0px white !important;
      };
      #body{
        padding: 0px
      }
    
      .buttonsContainer{
      padding-left: 3px;
      padding-bottom: 17px !important;
    }
    
    .buttonsContainerBoats{
      padding-left: 3px;
      padding-bottom: 5px !important;
    }
    
    #comContainer{
      margin-top: 0px !important; 
      padding-right: 35px; 
    }
    .comCard{
      text-align: center !important;
      margin-top: 0px !important; 
      margin-left: 14px !important;
    }
    #clientsDiv{
      padding-top: 0px !important;
      margin-top: 0px !important;
    }
    #H1container{
      margin-top: 0px !important;
    }
    
    .nav-link{
      font-size:2.7em !important;
      color: white !important;
      margin-right: 12px !important;
      transition-duration: 0.35s;
    }
    
    .navbar-brand{
      font-size: 60px !important;
    }
    
    .navbar-toggler{
      margin-right: 27px;
    }
    .navbar-toggler-icon{
      font-size: 55px;
      
    }
    
    .logoutBtn{
      
      font-size: 37px !important;
      padding-top: 22px !important;
      
    }
    
    .clientsBtn{
      background-image: linear-gradient(to right,#104391, #5389db) !important;
      font-size: 37px !important;
      padding-top: 22px !important;
    }
    
    #plusIcon{
      font-size: 32px !important;
    }
    
    .card-title{
      font-size: 53px !important;
    }
    
    .card-text{
      font-size: 32px !important;
    }
    
    .btnMobile{
      font-size: 32px !important;
      height: 70px !important;
      border-radius: 13px !important;
      
    }
    
    #clientsH1{
      font-size: 65px !important;
      margin-top: 13px !important;
     
    }
    
    .boatDetailsContainer{
      margin-left: auto !important;
    }
    input{
      font-size: 35px;
    }
    .input-group-text{
      font-size: 35px !important;
    }
    #editBoat{
      font-size: 35px !important;
    }
    #mainBoatImage{
      height: auto !important;
      width: 900px !important;
    }
    i{
      font-size: 35px !important;
    }
    h3{
      font-size: 55px !important;
      margin-bottom: 15px !important;
    }
    
    h2{
      font-size: 55px !important;
      margin-bottom: 15px !important;
    }
    
    p{
      font-size: 43px !important;
    }
    
    .brandIcon{
      font-size: 50px !important;
    }
    .navbar{
      margin-bottom: 10px !important;
    }
    
    #form{
      width: 100% !important;
    }
    .formContainer{
      min-width: 890px;
      margin-left: 22px !important;
      margin-top: 0px !important;
    }
    .navbar{
      margin-bottom: 0px !important;
    }
    
    #addClient{
      font-size: 50px !important;
    }
    
    .clientCard{
      width: 47% !important;
      
    }
    
    .searchInput{
      font-size: 40px !important;
    }
    
    .searchBtn{
      height: 75px !important;
      padding-top: 14px !important;
      margin-left: 10px !important;
    }
    
    .searchIcon{
      font-size: 40px !important;
    }
    
    #client-card{
      height: 520px !important;
      
    }
    
    #boat-card{
      height: auto !important;
      margin-top: 18px !important;
     margin-left: 30px !important
    }
    
    .editInfoBtn{
      height: 65px !important;
      font-size: 30px !important;
    }
    
    }
    @media (max-width: 768px) {
    
    
    
     
    .clientsBtn{
      background-image: linear-gradient(to right,#104391, #5389db) !important;
      
    }
    
    
    
    }
    
    @media (max-width: 576px) {
      
      
    }


 