{% extends 'base.html' %}

{% block content %}
<div class = "container-fluid">
<div class= "row col-12 mt-3 ml-0 justify-content-center pl-1">
  <h2 id = "clientName" class = "alert rounded-pill shadow-lg mb-4 col-5 col-lg-3 display-inline" style = "background-image: linear-gradient(to right,#164b99, #74a4eb) ; border-right: 0px solid white;  font-weight: bold;text-align: center; font-size: 40px;color: whitesmoke;"  > {{ client.name }}</h2>
  
</div>
</div>

<div class = "container-fluid">
<div class = "row col-12  justify-content-center ">
<div class = "card clientInfoCard shadow   col-12 col-lg-3 ml-4 ml-lg-4 mr-2 mb-3 mb-lg-2 " style = "border-radius:20px;color:rgb(255, 255, 255); background-image: linear-gradient(to bottom, #2356a1, #417acf)">
  
  <div class = "card-body justify-content-center font-weight-bold" style = "text-align: center;">
    <div class = "card-title" style = "text-align: center;font-size: 32px; color: white!important; font-weight: bolder !important">
      Contact information
    </div>
    <hr class = "w-100" style = "border-top: 1px solid rgb(0, 0, 0)">
    <p style = "font-size: 18px">
    Phone : {{client.phone}}
    <br>
    Email : {{client.email}}
    <br>
    State : {{client.state}}
    <br>
    
    Importance : {{client.importance}}
    </p>
    
  
  </div>
</div>


<div class = "card clientInfoCard shadow col-12 col-lg-3 display-inline ml-4 mr-2 mb-3 mb-lg-2" style = "border-radius:20px;color:rgb(255, 255, 255); background-image: linear-gradient(to bottom, #2356a1, #417acf)">
  
  <div class = "card-body justify-content-center font-weight-bold " style = "text-align: center;">
    <div class = "card-title" style = "text-align: center;font-size: 30px">
      Boat
    </div>
    <hr class = "w-100" style = "border-top: 1px solid rgb(0, 0, 0)">
    <p style = "font-size: 18px">
       {{ client.model }}
    <br>
    Location: {{client.location}}
    <br>
    Year : {{client.year}}
    <br>
    Equipment : {{client.equipment}}
    <br>
    Value : {{client.value}}
    </p>
  </div>
</div>


<div class = "card clientInfoCard shadow col-12 col-lg-3 display-inline ml-4 mr-2 mb-3 mb-lg-2" style = "border-radius:20px;color:rgb(255, 255, 255); background-image: linear-gradient(to bottom, #2356a1, #417acf)">
  
  <div class = "card-body justify-content-center font-weight-bold" style = "text-align: center;">
    <div class = "card-title" style = "text-align: center;font-size: 30px">
      Boat of interest
    </div>
    <hr class = "w-100" style = "border-top: 1px solid rgb(0, 0, 0)">
    <p style = "font-size: 18px">
    Model: {{client.model_interest}}
    <br>
    Year: {{client.year_interest}}
    <br>
    Equipment: {{client.equipment_interest}}
    <br>
    Budget: {{client.budget}}
    <br>
    Other interests: {{client.other_interests}}
    </p>
  </div>
</div>
</div>

</div>


<div class = "container-fluid">
<div class = "row col-12 mt-1 mt-lg-3 justify-content-center " id = "comContainer"> 
  <div class = "card clientInfoCard shadow   col-12 col-lg-9 ml-4 mr-2 mb-3 mb-lg-2 comCard " style = "border-radius:20px;color:rgb(255, 255, 255); background-image: linear-gradient(to bottom, #2356a1, #417acf)">
  
    <div class = "card-body font-weight-bold" >
      <div class = "card-title" style = "font-size: 30px">
        Communication
      </div>
      <hr class = "w-100" style = "border-top: 1px solid rgb(0, 0, 0)">
      <p style = "font-size: 18px">
      First contact : {{client.first_contact}}
      <br>
      To contact : {{ client.to_contact}}
      <br>
      Notes for contacting : {{client.to_contact_text}}
      <br>
      Communication : {{ client.communication }}
      <br>
      

        {% if files %}

        Files: 

        {% for file in files %}
        <br>
        <a href="{{ file.clientFile.url }}" download="{{ file.clientFile.url }}"> {{ file.clientFile }}</a>
        {% endfor %}

        {% endif %}


      
      
      </p>
    </div>
  </div>
</div>
</div>
</div>
<div class = "container-fluid mb-4">
<div class = "row justify-content-center col-12">
<form action = "{% url 'editClientInfo' client.id %}" method="post" class ="col-10 col-lg-6 ml-4 display-inline" >
  {% csrf_token %}
  <input type= "hidden" name= "username" value = "{{user.username}}">
  <button style = "border-radius:20px !important;height: 40px;overflow: hidden; font-size: 16px; font-weight: bold; transition: 0.4s; border-right: 0px solid white;; background-image: linear-gradient(to right, #2356a1, #417acf); color: white; letter-spacing: 1px; " class = "btn ml-2 col-12 display-inline editInfoBtn" > <i class="fas fa-edit mr-1" style = "margin-top: 4px"></i> Edit information </button>       
</form>
</div>
</div>
{% endblock %}