{% extends 'base.html' %}

{% block content %}
<div class = "container-fluid pt-3 pb-3" style = "background-image: linear-gradient(to right,#104391, #5389db) ">
        

    
    
      
    
    <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <script>
        $(".selection-2").select2({
          minimumResultsForSearch: 20,
          dropdownParent: $('#dropDownSelect1')
        });
      </script>
    <!--===============================================================================================-->
      <script src="js/main.js"></script>
    
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>
    <div class = "container-fluid">
    <div class = "row col-12 w-100 justify-content-center">
    <div class="container col-11 m-0 pt-4 pb-4 shadow-lg formContainer justify-content-center"  style = "  border-radius: 17px !important; box-shadow: inset 0px 0px 10px 5px hsla(0, 0%, 0%, 0.12); margin-right: 0px !important;" >
      <form action = "{% url 'editClientInfo2' user.username %}" class= "col-12 w-100"  method="POST" id= "form" enctype="multipart/form-data" >
        
        {% csrf_token %}
        <input type = "hidden" value = "{{client.id}}" name = "id">
        <div class="row" id = "editClientRow">
          
          <h3 style = "color:rgb(22, 22, 22) !important; "> Edit only neccessary information: </h3>
          <div class="input-group input-group-icon">
            <i class="fas fa-user input-icon " style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.name}}" class = " " name = "name" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;";/>
            
          </div>
          
          <div class="input-group input-group-icon">
            <i class="fas fa-phone input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.phone}}" name = "phone" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12);border-radius: 12px;"/>
            
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-envelope input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="email" value = "{{client.email}}" name = "email" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12);border-radius: 12px;"/>
            
          </div>
        </div>
        
        <div class="row">
          
          <div class="input-group input-group-icon">
            <i class="fas fa-flag input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.state}}" name = "state" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>
          <h3 style = "color:rgb(22, 22, 22) "> Current Boat </h3>
          <div class="input-group input-group-icon">
            <i class="fas fa-ship input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.model}}" name = "model" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
          
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-calendar input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="number" value = "{{client.year}}" name = "year" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>
          

        </div>
        <div class="row">
          
          

          <div class="input-group input-group-icon">
            <i class="fas fa-map-marked-alt input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.location}}" name = "location" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>
          
          
          
          <div class="input-group input-group-icon">
            <i class="fas fa-ship input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="text" value = "{{client.equipment}}" name = "equipment" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
          
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-money-bill-wave input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="number"  value = "{{client.value}}" name = "value" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>

        </div>
        <div class="row">
          <h3 style = "color:rgb(22, 22, 22) "> Boat of interest </h3>
          <div class="input-group input-group-icon">
            <i class="fas fa-ship input-icon" style = "color: #1d54a7; font-size: 17px">  </i>
            <input type="text" value = "{{client.model_interest}}" name = "model_interest" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-calendar input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="number" value = "{{client.year_interest}}" name = "year_interest" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-ship input-icon" style = "color: #1d54a7; font-size: 17px">  </i>
            <input type="text" value = "{{client.equipment_interest}}" name = "equipment_interest" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-comments-dollar input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            <input type="number" value = "{{client.budget}}" name = "budget" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
          </div>

          <div class="input-group input-group-icon">
            <i class="fas fa-ship input-icon" style = "color: #1d54a7; font-size: 17px">  </i>
            <input type="text" value = "{{client.other_interests}}" name = "other_interests" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            
          </div>

        </div>

          <div class="row" >
            <h3 style = "color:rgb(22, 22, 22) "> Communication </h3>
            <div class="input-group input-group-icon">
              <i class="fas fa-comment input-icon" style = "color: #1d54a7; font-size: 17px"></i>
              <input type="text" value = "{{client.first_contact}}" name = "first_contact" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
              
            </div>

            <div class="input-group input-group-icon">
              <i class="fas fa-bell input-icon" style = "color: #1d54a7; font-size: 17px"></i>
              <input type="date" value = "{{client.to_contact}}" name = "to_contact" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"  />
              
            </div>

            <div class="input-group input-group-icon">
              <i class="fas fa-bell input-icon" style = "color: #1d54a7; font-size: 17px"></i>
              <input type="text" value = "{{client.to_contact_text}}" name = "to_contact_text" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
            </div>

            <div class="input-group input-group-icon">
              <input type="text" value = "{{client.communication}}" name = "communication" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"/>
              <i class="fas fa-comments input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            </div>

            <div class="input-group input-group-icon">
              <input type="file" placeholder="Files" name = "files" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12); border-radius: 12px;"  multiple/>
              <i class="fas fa-file-alt input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            </div>

          </div>

          
          
          
        <div class = "row">
            <h3 style = "color:rgb(22, 22, 22) ;"> Importance</h3>
            

            <div class="input-group input-group-icon">
              <input type="number" min= "0" max = "10" value = "{{client.importance}}" name = "importance" style = "box-shadow: inset 0px 0px 2px 1px hsla(0, 0%, 0%, 0.12);border-radius: 12px;"/>
              <i class="fas fa-exclamation input-icon" style = "color: #1d54a7; font-size: 17px"></i>
            </div>
          
        </div>
        
        <div class = "row justify-content-center"> 
        
        <input style = "background-image: linear-gradient(to right,#104391, #5389db) ; color: rgb(255, 255, 255) !important; border-radius: 20px;  font-size: 22px ; border-right: 0px solid white; box-shadow: 0px 2px 3px 0px rgba(136, 136, 136, 0.726);transition: 0.4s !important" class= "btn finishEditingClientBtn mb-2  mt-2 w-100 ml-0 " id = "addClient"  type= "submit" value= "Edit information" class="col-8" /> 
        
        </div>

      </form>

      <div class ="row justify-content-center col-12 m-0 mb-4">
        <a class="btn   mb-2 mt-2 mt-lg-0 pb-1 btnMobile " href = "{% url 'startClientDeletion' user.username client.id %}"  style = "height: 47px;width:100% !important;font-size: 17px; background-image: linear-gradient(to left, #cf4040, #8d0c0c);; color: white; letter-spacing: 1px; border-right: 0px solid white; transition: 0.4s;padding-top: 1.5% !important"> <i class="fas fa-trash mr-1" style = "margin-top: 4px"></i>  Delete </a> 
       </div>
    </div>
    </div>
    
    </div>
    </div>
{% endblock %}