{% extends 'base.html' %}

{% block content %}

<div class = "container-fluid pt-4">
  <div class = "row col-12">
    <h2 class = "col-12 font-weight-bold" style = "color: rgb(58, 58, 58)"> Profile information </h2>
    <hr class= "col-12">
    <div class = "col-12">
      <p style = "color: rgb(58, 58, 58); font-size: 23px"> Username:  {{user.username }}</p>
    </div>

    <a href="{% url 'logout' %} " class="btn logoutBtn btn-animation-1 mt-2 col-4 col-lg-1 ml-2 font-weight-bold justify-content-center" style = "border:0px solid black !important; background-image: linear-gradient( to right, rgb(182, 12, 12), rgb(218, 102, 102) ); font-size: 17px "> <i class="fas fa-sign-out-alt mr-1"></i> Logout </a>  
  </div>
</div>


{% endblock %}