#input_text{
    margin-left:0px; 
    font-family: Candara; font-size: 23px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900; 
    line-height: 13px;
    background-color: rgb(47, 171, 243);
}